<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soluas Login</title>
</head>

<body>
    <h1>Login</h1>

    <header>
        <div class="clumns-3">
            <form>
                <label for="">Email</label>
                <input type="email" name="" id="email">
    
                <label for="">Contraseña</label>
                <input type="password" name="" id="password">
    
                <button type="submit">Enviar</button>
    
    
                <button type="submit">¿Olvidó la contraseña?
                    <link rel="stylesheet" href="">
                </button>
    
            </form>


            <div>
                <aside>
                    <img src="" alt="">
                </aside>
            </div>
           
        </div>


        
    </header>

    <br />

    <footer>
        <div>Todos los derechos reservados © Soluas 2024</div>
    </footer>

</body>

</html>